In [1]:
import pandas as pd
import os

In [20]:
os.getcwd()

'/Users/jbrable/Documents/ENSAE_2AD/S1/python/python_2A_S1'

In [3]:
df = pd.read_csv("data/ufo_sightings_scrubbed.csv")

/var/folders/j3/7p5c8ygd7yg6bgkb6r90ddhm0000gn/T/ipykernel_90703/2315484744.py:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/ufo_sightings_scrubbed.csv")

In [4]:
df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,2004-04-27,29.8830556,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.38421,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.2,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.9783333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.4180556,-157.803611

In [5]:
df.shape

(80332, 11)

In [6]:
df["shape"].value_counts()

light        16565
triangle      7865
circle        7608
fireball      6208
other         5649
unknown       5584
sphere        5387
disk          5213
oval          3733
formation     2457
cigar         2057
changing      1962
flash         1328
rectangle     1297
cylinder      1283
diamond       1178
chevron        952
egg            759
teardrop       750
cone           316
cross          233
delta            7
round            2
crescent         2
pyramid          1
flare            1
hexagon          1
dome             1
changed          1
Name: shape, dtype: int64

In [9]:
df["datetime"].sort_values(ascending = False)

46302    2014-05-08 18:45:00
46301    2014-05-08 00:00:00
46155    2014-05-07 23:30:00
46154    2014-05-07 21:20:00
46153    2014-05-07 21:10:00
                ...
46694    1920-06-11 21:00:00
40275    1916-04-05 13:00:00
46858    1910-06-01 15:00:00
10580    1910-01-02 00:00:00
7863     1906-11-11 00:00:00
Name: datetime, Length: 80332, dtype: object

In [17]:
df["comments"].head()

0    This event took place in early fall around 194...
1    1949 Lackland AFB&#44 TX.  Lights racing acros...
2    Green/Orange circular disc over Chester&#44 En...
3    My older brother and twin sister were leaving ...
4    AS a Marine 1st Lt. flying an FJ4B fighter/att...
Name: comments, dtype: object